transactionHistoryContainer {
}

.transactionHistory {
  margin: 0 auto;
  width: 600px;
}
th,
td:first-child {
  background: #afcde7;
  color: white;
  padding: 10px 20px;
}
th,
td {
  text-align: center;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
td {
  background: #d8e6f3;
}
th:first-child,
td:first-child {
  text-align: left;
  width: 25%;
}
